<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHQVwYYObw6BxW6DbDbDf3nBkYlpIBKK0</string>
	<key>GCM_SENDER_ID</key>
	<string>690304842058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samastha.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>samastha-bb7cf</string>
	<key>STORAGE_BUCKET</key>
	<string>samastha-bb7cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690304842058:ios:ae02b48d0e737b8ff9e9b3</string>
</dict>
</plist>